[submodule "package/oh-my-zsh"]
	path = package/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "package/solarized"]
	path = package/solarized
	url = git@github.com:altercation/solarized.git
[submodule "package/config"]
	path = package/config
	url = git@github.com:moonfruit/config.git
[submodule "package/pac"]
	path = package/pac
	url = git@git.coding.net:moonfruit/pac.git
[submodule "package/sedsed"]
	path = package/sedsed
	url = git@github.com:aureliojargas/sedsed.git
[submodule "package/todo.txt"]
	path = package/todo.txt
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "package/autojump"]
	path = package/autojump
	url = git@github.com:wting/autojump.git
