[submodule "package/oh-my-zsh"]
	path = package/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "package/solarized"]
	path = package/solarized
	url = git@github.com:altercation/solarized.git
[submodule "package/config"]
	path = package/config
	url = git@github.com:moonfruit/config.git
[submodule "package/pac"]
	path = package/pac
	url = git@git.coding.net:moonfruit/pac.git
[submodule "package/sedsed"]
	path = package/sedsed
	url = git@github.com:aureliojargas/sedsed.git
[submodule "package/todo.txt"]
	path = package/todo.txt
	url = git@github.com:freitass/todo.txt-vim.git
[submodule "package/autojump"]
	path = package/autojump
	url = git@github.com:wting/autojump.git
[submodule "package/billdan"]
	path = package/billdan
	url = https://github.com/m13253/BiliDan.git
[submodule "package/vim/vimcdoc"]
	path = package/vim/vimcdoc
	url = https://github.com/vimcn/vimcdoc.git
[submodule "package/vim/pathogen"]
	path = package/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "package/vim/clang"]
	path = package/vim/clang
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "package/vim/conque"]
	path = package/vim/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "package/vim/supertab"]
	path = package/vim/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "package/vim/syntastic"]
	path = package/vim/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "package/vim/YouCompleteMe"]
	path = package/vim/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "package/zsh/zsh-syntax-highlighting"]
	path = package/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "package/BaiduExporter"]
	path = package/BaiduExporter
	url = https://github.com/acgotaku/BaiduExporter
[submodule "package/vim/XMLCatalog"]
	path = package/vim/XMLCatalog
	url = git@github.com:moonfruit/XMLCatalog.git
